@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

:root {
   --iceblue: rgba(34, 197, 242, 0.35);
   --textcolor: rgba(50, 50, 50, 0.7);
}

body {
   color: var(--textcolor);
   font-family: Mate, Arial, sans-serif;
   background-color: white;
   margin: 0;
   background-image: url("pictures/iceberg.png");
   background-repeat: no-repeat;
   background-position: center;
   height: 170vh;
}

.copyright {
   color: white;
}

h1 {
   font-family: Nunito sans, Mate, Arial, sans-serif;
   color: rgba(34, 197, 242);
   font-size: 3.75rem;
   margin: 0;
   padding: 0;
   text-align: center;
}

h2, h3, table {
   color: var(--textcolor);
   margin: 0;
   text-align: center;
}

hr, br {
   border-color: var(--textcolor);
   border-style: none;
   border-top-style: dotted;
   border-width: .05rem;
   margin: 0;
   width: 100%;
}

th {
   color: var(--textcolor);
   background-color: #FFF5EB;
}

a {
   color: var(--textcolor);
   font-size: 1.25rem;
   text-decoration: none;
}

a:hover {
   color: black;
}

p {
   color: var(--textcolor);
   font-size: 1.25rem;
   text-align: center;
}

form {
   background-color: white;
   padding: 2rem;
}

.altcontainer {
   background-color: var(--iceblue);
   height: 50vh;
   margin: 0;
}

.container {
   height: 100vh;
}

.copyright {
   color: white;
   background-color: var(--iceblue);
   margin: 0;
   padding: 10px;
}

.flex {
   display: flex;
   flex: initial;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

.link {
   font-size: 2.5625rem;
   text-align: center;
}

.navigation {
   position: fixed;
   right: 0.5rem;
   top: 5px;
   padding: 1rem;
}

.projects {
   background-color: white;
   border-radius: 2rem;
   border: 1px solid rgba(0, 0, 0, 0.4);
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
   color: var(--textcolor);
   margin: 1.25rem auto;
   padding: 1.875rem;
   width: 18.75rem;
   height: 6.25rem;

}

.projects:hover {
   color: black;
   background-color: var(--iceblue);
}

.projects:active {
   transform: scale(0.96);
}

#mainTitle {
   padding: 25rem 0 0 0;
}

#message-box {
   height: 3rem;
}